body {
  background-color: #131516;
  color: antiquewhite;
  text-align: center;
  font-size: 18px;
  margin-top: 80px;
  padding: 20px 150px;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: rgb(25, 25, 25);
  font-weight: normal;
  letter-spacing: 1px;
  left: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header li {
  display: inline-block;
  background-color: rgb(86, 86, 86);
  border: 1px solid black;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: antiquewhite;
  margin-right: 8px;
}

.header li:hover {
  display: inline-block;
  background-color: rgb(107, 107, 107);
  border: 1px solid black;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  color: antiquewhite;
}

.header li a:visited {
  color: antiquewhite
}

.fire {
  width:fit-content;
  margin-bottom: 100px;
}

.thumbnail {
  width: 133px;
  height: 133px;
  border: 2px solid gray;
  padding: 5px;
}

.climber {
  width: 350px;
  height: 350px;
}

/*styles for about-me */

.bio {
  display: flex;
}

.bio p {
  padding: 5px;
  margin-right: 15px;
  text-align: justify;
}

/*styles for contact*/

.contact-me {
  background-color: darkblue;
  position: relative;
  left: 0;
}

.socialmedia {
  position: relative;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.socialmedia a {
  padding-right: 15px;
}

/*Styles for portfolio*/

.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  flex: 133px;
  align-items: center;
  justify-content: center;
}

.portfolio {
  display:block;
  padding-right: 20px;
  justify-content: center;
}